files:
    "/etc/logrotate.d/logrotate.elasticbeanstalk.containers.heavy.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/log/containers/*-stdouterr.log {
                rotate 14
                daily
                missingok
                compress
                notifempty
                copytruncate
                dateext
            }
    "/etc/logrotate.d/logrotate.elasticbeanstalk.docker.containers.heavy.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/lib/docker/containers/*/*-json.log {
                rotate 3
                daily
                missingok
                compress
                notifempty
                copytruncate
                dateext
            }
container_commands:
    00_disable_hourly_rotate:
        command: rm -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.applogs-stdouterr.conf