files:
    "/etc/filebeat/filebeat_app.yml":
        mode: "000755"
        owner: root
        group: root
        content: |
          filebeat.inputs:
            - type: log
              enabled: true
              paths:
                - /var/log/containers/nginx/access.log
              fields:
                topic: access-log
            - type: log
              enabled: true
              paths:
                - /var/log/containers/app/req.log
              fields:
                topic: req-log
            - type: log
              enabled: true
              paths:
                - /var/log/containers/app/app.log
              fields:
                topic: app-log
          output.kafka:
            enabled: true
            codec.format:
              string: '%{[message]}'
            hosts: [%KAFKA_HOSTS%]
            topic: '%{[fields.topic]}'
            partition.hash:
              reachable_only: false
            worker: 2
            compression: snappy
    "/etc/filebeat/filebeat_app.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/sh
            if [ -f "/etc/filebeat/filebeat_app.yml" ]
            then
                pkill -f filebeat_app.yml
                nohup /usr/share/filebeat/bin/filebeat -c /etc/filebeat/filebeat_app.yml > /dev/null 2>&1 &
            fi

commands:
    00_execute_filebeat:
        command: sh /etc/filebeat/filebeat_app.sh
        ignoreErrors: true